<!DOCTYPE html>
<html>
<head>
  <title>Voucher</title>
</head>
<body>
  <h1>Voucher Details</h1>
  <p>User Code: <%= userCode %></p>
  <p>PIN: <%= pin %></p>
  <p>Amount: $<%= amount %></p>
  <p>Bonus: $<%= bonus %></p>
  <img src="<%= qrCode %>" alt="QR Code" />
  <br><br>
  <a href="/">Generate Another Voucher</a>
</body>
</html>

